header {
    height: 70px;
    background-color: gray;
    display: flex;
    flex-direction: row;
    gap: 30px;
    font-size: 20px;
    align-items: center;
    justify-content: center;
}
main {
    display: flex;
}
nav {
    display: block;
    width: min-content;
}
.button {
    width: 400px;
    height: 80px;
    border: none;
    font-size: 20px;
}
.button:hover {
    background-color: antiquewhite;
}
.menu_dishes {
    display: flex;
    flex-wrap: wrap;
}
.menu_unit {
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
footer {
    height: 70px;
    background-color: gray;
    color: #fff;
    gap: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}