main {
    display: flex;
}
nav {
    display: block;
}
.button {
    width: 400px;
    height: 80px;
    border: none;
    font-size: 20px;
}
.button:hover {
    background-color: antiquewhite;
}
.menu_dishes {
    display: flex;
    flex-wrap: wrap;
}
.menu_unit {
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}