body {
    display: flex;
    flex-direction: column;
}
header, main, footer {
    margin: auto;
    width: 1440px;
}
.header__section {
    padding-top: 40px;
    padding-bottom: 97px;
    display: flex;
    justify-content: space-between;
}
.header__section_h3 {
    margin-left: 120px;
    color: var(--grayscale-black, #000);
    font-family: Montserrat;
    font-size: 31.93px;
    font-style: normal;
    font-weight: 700;
    line-height: 170%;
}
.header__section_div {
    display: flex;
    align-items: center;
    gap: 45px;
    margin-right: 132px;
}
.header__section_div-a {
    text-decoration: none;
    color: rgba(54, 54, 54, 0.5);
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
}
.header__section_div-a:hover {
    color: #000;
    cursor: pointer;
}
.header__section_div-tel {
    text-decoration: none;
    color: #FFF;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    background-color: #2C3878;
    padding: 14px 32px;
}
section {
    padding: 0 120px 100px 120px;
}
.main__section1_block1 {
    display: flex;
    margin-bottom: 46px;
}
.main__section1_block1-h1 {
    width: 735px;
    color: var(--grayscale-50, #333);
    font-family: Montserrat;
    font-size: 72px;
    font-style: normal;
    font-weight: bold;
    line-height: 140%;
}
.main__section1_block1-span {
    width: 465px;
    border-bottom: 2px solid #000;
    align-self: flex-start;
    margin-top: 50px;
}
.main__section1_block2 {
    width: 252px;
    height: 525px;
    background-color: #2C3878;
    color: #FFF;
    text-align: -webkit-center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: absolute;
    margin-left: 806px;
    margin-top: 140px;
}
.section1__block2_p1 {
    font-family: Montserrat;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
}
.section1__block2_p2 {
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
}
.main__section2_block1,
.main__section3_block1,
.main__section4_block1 {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
}
.main__section2_block1-h4,
.main__section3_block1-h4,
.main__section4_block1-h4 {
    color: #000;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    text-transform: uppercase;
    margin-right: 13px;
}
.main__section2_block1-div,
.main__section3_block1-div,
.main__section4_block1-div {
    border-bottom: 2px solid #000;
    width: 530px;
}
.main__section2_h2 {
    width: 660px;
    color: #333;
    font-family: Montserrat;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    padding-bottom: 46px;
}
.main__section2_p {
    width: 654px;
    color: #9C9C9C;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    margin-bottom: 98px;
}
.main__section2_block2 {
    background-color: #2C3878;
    padding-top: 55px;
    padding-bottom: 55px;
    display: grid;
    padding-left: 120px;
    padding-right: 132px;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: repeat(2, 50%);
    gap: 25px;
    margin-bottom: 85px;
}
.main__section2_block2-div {
    display: flex;
    align-items: center;
    gap: 30px;
    color: #FFF;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
}
.main__section2_block3 {
    width: min-content;
    margin-left: 493px;
    margin-bottom: 100px;
}
.main__section2_p2 {
    width: 654px;
    color: #9C9C9C;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    margin-bottom: 17px;
}
.main__section2_btn {
    padding: 14px 32px;
    background-color: #2C3878;
    color: #FFF;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}
.main__section2_btn:hover {
    cursor: pointer;
}
.main__section3_block2 {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
}
.section3__block2_p {
    color: #FFF;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    position: absolute;
    width: 233px;
    margin-bottom: 30px;
    margin-left: 20px;
}
.section3__block2_p:nth-last-of-type(5) {
    width: 340px;
}
.main__section4_block2-h2 {
    color: #333;
    font-family: Montserrat;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    width: 590px;
    padding-bottom: 20px;
}
.main__section4_block2-div {
    display: flex;
    gap: 16px;
    align-items: center;
    padding-bottom: 16px;
}
.main__section4_block2-ul {
    color: #9C9C9C;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    list-style: disc;
}
.main__section4_block2-btn {
    padding: 14px 34px 14px 32px;
    background: #2C3878;
    color: #FFF;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}
.main__section4_block2-btn:hover {
    cursor: pointer;
}
.footer {
    background: #2C3878;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(2, 50%);
    padding-top: 77px;
}
.footer__block1,
.footer__block2 {
    padding-bottom: 40px;
}
.footer__block1_p {
    color: #FFF;
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    margin-bottom: 154px;
}
.footer__block1_h3{
    color: #FFF;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 170%;
}
.footer__block2_div {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.block2__input {
    width: 334px;
    height: 50px;
    background-color: #2C3878;
    border: 1px solid #FFF;
}
.block2__btn {
    display: inline-flex;
    padding: 14px 32px;
    align-items: flex-start;
    gap: 10px;
    background-color: #FFF;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    color: #000;
    border: none;
    margin-bottom: 105px;
}
.block2__btn:hover{
    cursor: pointer;
}
.footer__block2_tel {
    text-decoration: none;
    color: #FFF;
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; 
}
.location__section1_block2,
.layout__section1_block2 {
    height: 208px;
}
.location__section1_block1-h1,
.layout__section1_block1-h1 {
    width: 747px;
    font-size: 52px;
}
.main__section1_p {
    width: 654px;
    color: #9C9C9C;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    margin-top: 100px;
}
.layout__section1_block1-h1 {
    width: 685px;
}
.layout__section2_block2 {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 140px;
}
.layout__section2_block2-item {
    width: 380px;
}
.layout__section2_block2-h4 {
    color: #000;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; 
    text-transform: uppercase;
    margin-top: 31px;
    margin-bottom: 11px;
}
.layout__section2_block2-p {
    color: #9C9C9C;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    margin-bottom: 53px;
}
.layout__section2_block2-btn {
    padding: 14px 34px 14px 32px;
    align-items: flex-start;
    background-color: #2C3878;
    color: #FFF;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    border: none;
}
.layout__section2_block2-btn:hover {
    cursor: pointer;
}
.main__section2 > img {
    margin-left: -120px;
}
.main__section2 > iframe {
    margin-left: -120px;
}
.header__section_div-tel > img {
    display: none;
}
.main__section1_btn {
    display: none;
}
@media (max-width: 1439px) {
    header, main, footer {
        width: 834px;
    }
    .header__section {
        padding-top: 50px;
        padding-bottom: 56px;
    }
    .header__section_h3 {
        margin-left: 0;
        font-size: 20px;
    }
    .header__section_div {
        margin-right: 0;
        gap: 41px;
    }
    section {
        padding: 0 50px;
    }
    .header__section_div-a {
        font-size: 14px;
    }
    .header__section_div-tel {
        padding: 12px 20px;
    }
    .main__section1_block1 {
        margin-bottom: 200px;
    }
    .main__section1_block1-h1 {
        font-size: 40px;
        width: 406px;
    }
    .main__section1_block1-span {
        width: 335px;
        margin-top: 25px;
    }
    .main__section1_block2 {
        width: 734px;
        height: 159px;
        margin-top: 210px;
        margin-left: auto;
        flex-direction: row;
        align-items: center;
    }
    .main__section1_img {
        width: 734px;
        height: 400px;
    }
    .main__section2 > img {
        width: 834px;
        margin-left: -50px;
    }
    .main__section2_block3 {
        margin-left: 0;
    }
    .main__section3,
    .main__section2 {
        margin-top: 60px;
    }
    .main__section3_block2{
        grid-template-rows: auto auto auto auto;
        grid-template-columns: auto auto;
    }
    .main__section3_block2 > div:nth-last-of-type(6) > img {
        width: 734px;
        height: 300px;
    }
    .main__section3_block2 > div:nth-last-of-type(5) > img {
        width: 362px;
        height: 610px;
    }
    .main__section3_block2 > div:nth-last-of-type(4) > img,
    .main__section3_block2 > div:nth-last-of-type(3) > img,
    .main__section3_block2 > div:nth-last-of-type(2) > img,
    .main__section3_block2 > div:nth-last-of-type(1) > img {
        width: 362px;
        height: 300px;
    }
    .main__section4 {
        margin-top: 60px;
        margin-bottom: 266px;
    }
    .main__section4_block2-div > a > img {
        width: 113px;
        height: 113px;
    }
    .footer {
        display: block;
    }
    .footer__block1_p {
        width: 576px;
        margin-bottom: 20px;
    }
    .footer__block2 {
        width: 334px;
    }
    .block2__btn {
        margin-bottom: 80px;
    }
    .main__section1 > img {
        width: 734px;
        height: 400px;
    }
    .location__section1_block2 {
       width: 236px;
       height: 159px;
       margin-top: 265px;
       margin-left: 500px; 
    }
    .main__section2 > iframe {
        width: 834px;
        height: 574px;
        margin-left: -50px;
    }
    .layout__section1_block2 {
        width: 236px;
        height: 159px;
        margin-top: 208px;
        margin-left: 498px;
    }
    .layout__section2_block2-item {
        width: 350px;
    }
    .layout__section2_block2-item > img {
        width: 350px;
        height: 314px;
    }
    #img-location {
        margin-top: -159px;
    }
}
@media (max-width: 375px) {
    .header__section_div-tel > img {
        display: flex;
    }
    .header__section_div-tel {
        font-size: 0;
    }
    .header__section_div-a {
        display: none;
    }
    .main__section1_block1-span {
        display: none;
    }
    .main__section1_block-btn {
        display: flex;
        gap: 10px;
        justify-content: space-evenly;
    }
    .main__section1_btn {
        display: flex;
        padding: 14px 32px;
        background: #2C3878;
        color: #FFF;
        font-family: Montserrat;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%;
    }
    section{
        padding: 0 15px;
    }
    header, main, footer {
        width: 375px;
    }
    .main__section1_block1-h1 {
        font-size: 24px;
        width: 246px;
    }
    .main__section1 > img {
        width: 345px;
        height: 200px;
    }
    .main__section1_block2 {
        width: 345px;
        height: 89px;
    }
    .section1__block2_p1 {
        font-size: 20px;
    }
    .section1__block2_p2 {
        font-size: 10px;
    }
    .main__section1_block1 {
        margin-bottom: 110px;
    }
    .main__section1_block2 {
        margin-top: 122px;
    }
    .main__section2_block1-div {
        width: 267px;
    }
    .main__section2_block1-h4 {
        font-size: 12px;
        margin-right: 5px;
    }
    .main__section2_h2 {
        width: 309px;
        font-size: 20px;
    }
    .main__section2_p {
       width: 300px;
       font-size: 16px;
       margin-bottom: 45px; 
    }
    .main__section2_block2 {
        display: flex;
        flex-wrap: wrap;
        padding-left: 26px;
        padding-right: 26px;
    }
    .main__section2_block2-div > img {
        width: 70px;
        height: 70px;
    }
    .main__section2_block2-label {
        font-size: 16px;
        width: 193px;
    }
    .main__section2_p2 {
        font-size: 16px;
        width: 300px;
    }
    .main__section2 > img {
        width: 375px;
        height: 250px;
        object-fit: cover;
        margin-left: -15px
    }
    .main__section3_block1-h4,
    .main__section4_block1-h4 {
        font-size: 12px;
        margin-right: 5px;
    }
    .main__section3_block2 {
        display: flex;
        flex-wrap: wrap;
    }
    .main__section3_block2 > div:nth-last-of-type(4) > img,
    .main__section3_block2 > div:nth-last-of-type(3) > img,
    .main__section3_block2 > div:nth-last-of-type(2) > img,
    .main__section3_block2 > div:nth-last-of-type(1) > img,
    .main__section3_block2 > div:nth-last-of-type(6) > img {
        width: 343px;
        height: 300px;
    }
    .main__section3_block2 > div:nth-last-of-type(5) > img {
        width: 343px;
        height: 610px;
    }
    .main__section4_block2-h2 {
        font-size: 20px;
        width: 297px;
    }
    .main__section4_block2-div {
        flex-wrap: wrap;
    }
    .main__section4_block2-ul {
        font-size: 16px;
        margin-left: 15px;
    }
    .main__section4 {
        margin-bottom: 115px;
    }
    .footer__block1_p {
        font-size: 20px;
        width: 347px;
    }
    .footer__block1_h3,
    .footer__block2_tel {
        font-size: 24px;
    }
}