* {
    margin: 0;
    padding: 0;
    border: 0;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
section {
    display: flex;
    flex-wrap: wrap-reverse;
    gap: 20px;
    width: 940px;
    padding-top: 20px; 
}
.div:nth-last-of-type(2) {
    background-image: url(img/Веб-верстка.jpg);
}
.div:nth-last-of-type(1) {
    background-image: url(img/html.jpg);
}
.div:nth-last-of-type(4) {
    background-image: url(img/css.jpeg);
}
.div:nth-last-of-type(3) {
    background-image: url(img/Figma.jpg);
}
.div {
    width: 460px;
    height: 360px;
    background-size: 460px 360px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    box-shadow: 2px 2px 10px 3px rgba(179, 179, 180, 0.2);
}
.item {
    height: 150px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    justify-content: space-between;
    padding: 10px;
}
h3 {
    font-size: 24px;
    color: blue;
}
p {
    line-height: 1.5;
    font-size: 14px;
}
p:nth-last-of-type(1) {
    text-align: end;    
    color: rgb(209 196 196 / 92%);
    font-size: 20px;
}
h1 {
    color: blue;
    margin-left: -554px;
}
button {
    margin-top: 20px;
    width: 150px;
    height: 50px;
    font-size: 14px;
    color: blue;
    border: 2px solid blue;
    cursor: pointer;
}