body {
    display: flex;
    flex-wrap: wrap;
}
div:nth-last-of-type(1) {
    background-image: url(img/Веб-верстка.jpg);
    b
}
div:nth-last-of-type(2) {
    background-image: url(img/html.jpg);
}
div:nth-last-of-type(3) {
    background-image: url(img/css.jpeg);
}
div:nth-last-of-type(4) {
    background-image: url(img/Figma.jpg);
}
div:nth-last-of-type(5) {
    background-image: url(img/JS.jpg);
}
div:nth-last-of-type(6) {
    background-image: url(img/node.jpg);
}
div:nth-last-of-type(7) {
    background-image: url(img/TS.png);
}
div:nth-last-of-type(8) {
    background-image: url(img/React.jpg);
}
div:nth-last-of-type(9) {
    background-image: url(img/angular.jpg);
}
div:nth-last-of-type(10) {
    background-image: url(img/vue.png);
}
div {
    width: 400px;
    height: 400px;
}