.body {
    width: 1408px;
    margin: auto;
}
.header {
    height: 100px;
    padding-left: 146px;
    padding-right: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__menu {
    display: flex;
    gap: 36px;
    align-items: center;
}
.header__menu_item {
    text-decoration: none;
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
    text-transform: uppercase;
}
.book_now {
    width: 200px;
    height: 60px;
    background: #5B6460;
    color: #fff;
    border: none;
}
.main__section1 {
    background-image: url(img/3.png);
    background-size: auto 700px;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.main__section1_h1 {
    color: #FFF;
    text-align: right;
    font-family: Open Sans;
    font-size: 70px;
    font-style: normal;
    font-weight: 300;
    line-height: 72px;
    margin-top: 95px;
    margin-right: 58px;
}
.main__section1_p {
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    margin-top: 34px;
    margin-right: 142px;
}
.main__section2 {
    padding-top: 150px;
    padding-bottom: 150px;
}
.main__section2_block1 {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(1, 438px);
}
.section2__block1_div {
    display: flex;
    flex-direction: column;
    margin: auto 0;
    padding-left: 147px;
    padding-right: 105px;
}
.section2__bloc1_div-h2 {
    color: var(--forest, #5B6460);
    font-family: Open Sans;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    margin-bottom: 50px;
}
.section2__bloc1_div-p {
    width: 465px;
    height: 206px;
    color: #000;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 30px;
    margin-bottom: 25px;
}
.section2__bloc1_div-a {
    color: var(--forest, #5B6460);
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
}
.main__section2_block2 {
    padding: 150px 30px 0 33px;
    display: flex;
    gap: 24px;
}
.main__section3 {
    display: flex;
}
.main__section3_div {
    background: #E9ECE0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 110px;
    padding-right: 129px;    
}
.section3__div_h2 {
    color: var(--forest, #5B6460);
    font-family: Open Sans;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    margin-bottom: 50px;
}
.section3__div_p {
    width: 465px;
    height: 206px;
    color: var(--Gray-1, #333);
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 30px;
    margin-bottom: 25px;
}
.section3__div_a {
    color: var(--forest, #5B6460);
    font-family: Open Sans;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: 30px;
}
.main__section4_block1 {
    display: flex;
    height: 474px;
    background-color: #5B6460;
    flex-direction: column;
    color: #fff;
    align-items: center;
    justify-content: center;
    gap: 41px;
}
.section4__block1_div {
    display: flex;
    flex-direction: row;
    gap: 133px;
}
.section4__block1_label {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
label {
    text-align: center;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}
.main__section4_block2 {
    display: flex;
    align-items: center;
}
.section4__block2_p {
    position: absolute;
    z-index: 2;
    width: 156px;
    height: 156px;
    border-radius: 100px;
    background: var(--rose, #E9ECE0);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 626px;
}
.footer {
    height: 477px;
    background: #5B6460;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer__block1_p {
    color: #FFF;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    line-height: 30px;
}
.footer__block1_p:nth-last-of-type(3) {
    font-weight: 600;
    margin-bottom: 40px;
}
.footer__block1_input {
    border: none;
    border-bottom: 1px solid #fff;
    width: 400px;
    color: #FFF;
    font-family: Open Sans;
    font-size: 16px;
    font-style: italic;
    font-weight: 300;
    line-height: 30px;
    background: #5B6460;
}
.footer__block1_p:nth-last-of-type(2) {
    width: 420px;
    font-weight: 300;
    opacity: 0.7;
    margin-bottom: 70px;
}
.footer__block1_p:nth-last-of-type(1) {
    color: var(--gray, #EFEFEF);
    font-size: 14px;
    font-weight: 300;
    opacity: 0.7;
}
.footer__block2 {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    align-items: flex-end;
    padding-top: 100px;
}
.footer__block2_div1 {
    display: flex;
    gap: 31px;
    margin-bottom: 51px;
}
.footer__block2_a {
    text-decoration: none;
    color: #FFF;
    font-family: DIN;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
    text-transform: uppercase;
}
.footer__block2_div2 {
    display: flex;
    gap: 40px;
}
